# Last update: Add request dependence

# For autoconfig database using DATABASE_URL env variable
dj_database_url

# Python WEB framework
django==3.2

# A configurable set of panels that display various debug information about the current request/response
django-debug-toolbar==3.2.1

# Allows in-browser requests to your Django application from other origins
django-cors-headers == 3.7.0

# REST Framework
djangorestframework==3.12.4

# API key permissions for the Django REST Framework
djangorestframework-api-key==2.0.0

# PostgreSQL python client
psycopg2-binary==2.8.5

# Simple, yet elegant HTTP library
requests==2.25.1
